	<% if user_signed_in? %>
	<span>Здравствуйте, <%= current_user.email.match(/\A[^@]+/) %></span>
	<%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
    <p>Это мой скромный блог на котором я совершенствую свои навыки. 
Если хочешь посмотреть, что уже получилось - зарегистрируйся (да, регистрация у меня уже есть :))</p>
	<%= link_to 'Blog', articles_path %>
<% else %>
	<h1>Привет!</h1>
	<p>Это мой скромный блог на котором я совершенствую свои навыки. 
	Если хочешь посмотреть, что уже получилось - зарегистрируйся (да, регистрация у меня уже есть :))</p>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>